.user-page {
  padding: 12px;
  background: #f0f2f5;
  min-height: 100vh;

  .query-container {
    background: white;
    margin-bottom: 12px;
    padding: 12px;
    border-radius: 4px;
  }

  .table-container {
    background: white;
    padding: 12px;
    border-radius: 4px;
  }
}
